<!DOCTYPE html>
<html lang="en">
<head>
    <title>crime diary</title>
</head>
<body bgcolor="black" text="white">
<center>
    <form action="/confirm" method="post">
        <br>
        <label><h1>crime area</h1></label>
        <br>
        <textarea type="text" name="area" cols="60" rows="10"></textarea>
        <br>
        <label><h1>about crime</h1></label>
        <br>
        <textarea type="text" name="situation" cols="60" rows="10"></textarea>
        <br>
        <input type="submit" value="report" onclick="alert('confirm to file a complaint')">
    </form>
</center>
</body>
</html>
