<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home page</title>
</head>
<body>
<center>
    <h1>welcome to crime reporting mechanism this page will allow you to file a
    complaint against the crime which you see in your day to day life
    your personal information are not taken but we required the area where the crime
    taken place and a complaint about the crime .<br>
    TO REPORT THE CRIME CLICK THE LINK:
    <a href="http://127.0.0.1:5000/crime"><h3>report crime</h3></a><br>
    TO VIEW THE DETAIL CLICK THE LINK:
    <a href="http://127.0.0.1:5000/report"><h3>details</h3></a>
    TO CHECK THE STATUS OF YOUR CRIME
    <a href="http://127.0.0.1:5000/checkstatus"><h3>check_status</h3></a>
    </h1>
</center>
</body>
</html>
